@charset "UTF-8";

@import 'fonts';

$base-font-family: $robotoThin;

$color-white: #ffffff;
$color-blue-light: #00efdb;
$color-blue-dark: #181838;
$color-gray-light: #e8e8ef;
$color-gray: #8b8b93;
$color-gray-dark: #76767f;
$color-purple-light: #8c7bde;
$bg-blue-dark: #051640;